<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weekly</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./dp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>  
    <%- include ("navbar.ejs") %>

    <div style="display: flex; flex-direction: column; width: 75vw; align-content: center; position: relative; left: 12.5vw; top: 6.25vw; background-color: white; padding: 2.5vw;" >
    <article class="blog-post">
        <h2>Extra: </h2>
        <hr>
        <br>
        <p> 
In order to show my will to go the extra mile and get some additional coding practice, I built this website from scratch. As a coder who is still learning, I learned some new concepts and solidified others. It is also the first time when I hosted my app on a real domain, and not github. It was a challenge but I surely enjoyed it.
</p>
    
        
       </div>
       
      </article>
      <br><br><br><br><br><br>

      <%- include ("footer.ejs") %>
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>