<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>intro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./dp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>  
    <div style="display: flex; flex-direction: column; width: 75vw; align-content: center; position: relative; left: 12.5vw; top: 6.25vw; background-color: white; padding: 2.5vw;" >
    <article class="blog-post">
        <h2>Introduction to Executive Skills Portfolio</h2>
        <hr>
        <br>
        <p>
            My name is Dmytro, I am currently pursuing a degree in Business Administration. I've had hands-on experience in my dad's business and the real estate sector. This Executive Skills Portfolio will serve as a snapshot of my skills and qualifications, and self-evaluative assignments I have taken throughout the semester.
           </p><br><h3>My Path and Motivation:</h3> 
            <p>The decision to major in Business Administration isn't just a requirement; it's rooted in my goal to contribute positively to businesses. Whether it's running my own show or taking on a management role, I aim to bring a practical impact. While management might seem less theoretical than other fields, I recognize the need for a specific skill set.
            </p><br><h3>Balancing Act:</h3>
            <p>I believe the sweet spot lies in merging specialized expertise, like software development, with effective managerial skills. This blend, I think, is the key to navigating the professional world successfully. The prospect of honing practical skills alongside managerial finesse is exciting. It's not just about ticking academic boxes; it's about becoming a professional adept at handling the intricacies of the business world.
            </p><br><h3>Conclusion Grounded in Purpose:</h3>
            <p>In summary, my foray into Business Administration isn't just a checkbox on my academic journey. It's a deliberate choice driven by the ambition to make a meaningful contribution to the business realm. Whether steering my own ship or guiding others, I'm determined to possess a well-rounded skill set, combining technical know-how with managerial proficiency. This Executive Skills Portfolio isn't just a compilation of assignments; it's a snapshot of my growth and potential.
            As you explore this portfolio, you'll find samples of my work. It's more than a collection; it's a representation of my journey in learning and growing within the business administration domain. I invite you to join me in this endeavor, where professionalism meets practicality, and we navigate the path to excellence together.
            </p></p>
        
       
      </article>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</div>
</body>
</html>